.title {
    font-weight: 600;
    font-size: 10px;
    line-height: 130%;
    margin-bottom: 4px;
}
.list {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    margin-bottom: 4px;
}

.item {
    margin-bottom: 2px;
}

.item:last-child {
    margin-bottom: 0;
}

.calories {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #b1b1b1;
}

@media (min-width: 1024px) {
    .title,
    .list,
    .calories {
        font-size: 12px;
    }
}
